*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

/* utility */
.margin-left{
    margin-left: 10%;
}

.margin-right{
    margin-right: 10%;
}

.img{
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.black{
    color: black;
}

.violet{
    color:  rgb(123, 56, 199);
}

.wrapper{
    display: flex;
    flex-direction: column;
}

/* header */
header{
    background-color: rgb(55, 55, 230);
    display: flex;
    width: 100%;
    padding-bottom: 30px;
}

/* header-left */
.header-left{
    width: 40%;
}

.header-left>h1{
    font-size: 25px;
}

/* header-right */
.header-right{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header-right>span{
    font-size: 20px;
}

/****** main ******/
/*** container-demo ***/

.container-demo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* container-demo-top */
.container-demo-top{
    margin-top: 30px;
    display: flex;
    column-gap: 10px;
}

.big-square{
    background-color: rgb(0, 119, 255);
    height: 260px;
    border-radius: 10px;
    flex-grow: 1;
}

.square{
    background-color: lightgreen;
    width: calc(100% / 3);
    height: 260px;
    border-radius: 10px;
}

/* container-demo-bottom */
.container-demo-bottom{
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
    margin-bottom: 50px;
}

/*** container-planning ***/
.container-planning{
    display: flex;
    justify-content: center;
    background-color: rgb(123, 56, 199);
    padding-bottom: 50px;
}

.container-planning-left{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 20%;
}

.container-planning-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 50px;
    margin-top: 150px;
    padding: 20px;
    width: 20%;
}

.container-planning-left .img{
    margin-bottom: 30px;
}

.container-planning-right .img{
    margin: 50px;
}

/* sezione expert-partners */
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.text{
    text-align: center;
    width: 50%;
}

.text h1{
    color: rgb(123, 56, 199);
    margin-top: 40px;
}

.text p{
    margin: 20px;
}

.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    width: 60%;
}

.profile{
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    
}

.feedback p{
    width: 50%;
}

#nat{
    background-color: rgba(231, 93, 93, 0.6);
}

#cecilia{
    background-color: rgba(255, 166, 0, 0.6);
}

#bob{
    background-color: rgba(127, 255, 212, 0.6);
}

/* sezione benefits */
.benefits{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(123, 56, 199);
}

.benefits{
   text-align: center;
}

.benefits h1{
    margin-top: 50px;
 }

.benefits-top{
    display: flex;
    justify-content: center;
    column-gap: 2%;
    margin-top: 50px;
}

.benefits-bottom{
    display: flex;
    justify-content: center;
    column-gap: 2%;
    margin-bottom: 50px;
}

.cards{
    background-color: rgb(175, 174, 174);
    border-radius: 15px;
    padding: 30px 20px;
    margin: 10px 0;
    width: 25%;
}

.cards>h1{
    font-size: 2.5rem;
    margin: 20px auto;
}

.cards>h3{
    margin: 20px auto;
}

.cards>p{
    font-size: small;
    margin: 20px auto;
}

/* about-us */
.container-about-us{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    line-height: 1.5rem;
    padding-top: 50px;
}

.about-us-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.about-us-left h1{
    font-size: 40px;
}

.about-us-left p{
    margin-top: 20px;
    margin-bottom: 50px;
}

.about-us-right{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.circle{
    width: 100px;
    height: 100px;
    background-color: rgb(123, 56, 199);
    border-radius: 50%;
    margin-bottom: 20px;
}


