*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

/* utility */
.margin-left{
    margin-left: 10%;
}

.margin-right{
    margin-right: 10%;
}

.img{
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.black{
    color: black;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

/* header */
header{
    background-color: rgb(55, 55, 230);
    display: flex;
    width: 100%;
    padding-bottom: 30px;
}

/* header-left */
.header-left{
    width: 40%;
}

.header-left>h1{
    font-size: 25px;
}

/* header-right */
.header-right{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header-right>span{
    font-size: 20px;
}

/****** main ******/
/*** container-demo ***/

.container-demo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* container-demo-top */
.container-demo-top{
    margin-top: 30px;
    display: flex;
    column-gap: 10px;
}

.big-square{
    background-color: rgb(0, 119, 255);
    height: 260px;
    border-radius: 10px;
    flex-grow: 1;
}

.square{
    background-color: lightgreen;
    width: calc(100% / 3);
    height: 260px;
    border-radius: 10px;
}

/* container-demo-bottom */
.container-demo-bottom{
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
    margin-bottom: 50px;
}

/*** container-planning ***/
.container-planning{
    display: flex;
    justify-content: center;
    background-color: rgb(123, 56, 199);
    padding-bottom: 50px;
}

.container-planning-left{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 20%;
}

.container-planning-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 50px;
    margin-top: 150px;
    padding: 20px;
    width: 20%;
}

.container-planning-left .img{
    margin-bottom: 30px;
}

.container-planning-right .img{
    margin: 50px;
}